.contact {
    padding-top: var(--padding-vertical);

    @include media(75em) {
        padding-top: 0;
    }

    &__container {}

    &__wrapper {
        display: flex;
        padding-top: var(--padding-vertical);
        padding-bottom: var(--padding-vertical);
    }

    &__form-box,
    &__info-box {
        flex: 0 1 50%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    &__form-box {
        @include media(50em) {
            flex: 1;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    &__heading {
        @include media(50em) {
            text-align: center;
        }
    }
    &__info-box {
        color: red;
        background: url('./../../images/contact-min.png') no-repeat;
        background-clip: content-box;
        background-size: contain;
        background-position: center center;

        @include media(50em) {
            display:  none;
        }
    }
}