.footer {
    height: 7.2rem;
    background-color: var(--color-blue-4);

    &__text {
        text-align: center;
        font-size: 1.6rem;
        line-height: 7.2rem;
        color: var(--color-white);
        overflow: hidden;

        @include media(25em) {
            font-size: 1.4rem;
        }
    }
}