.header {
    height: 7.2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--color-blue-1);
    background: linear-gradient(90deg, var(--color-blue-4) 50%,#fff 0);
    z-index: 1000;

    @include media(75em) {
        background: var(--color-blue-4);
    }

    &__container {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: space-between;
        background-color: var(--color-blue-4);

        &::after {
            position: absolute;
            content: '';
            background-color: var(--color-white);
            right: 0;
            top: 0;
            bottom: 0;
            width: calc(15.5rem); // 14 width + 1.5 padding

            @include media(75em) {
                content: none;
            }
        }
    }
 
    &__logo {
        flex: 0 1 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.6rem;
        font-style: italic;
        color: var(--color-blue-1);
    }

    &__switcher {
        display: none;

    }
    &__switcher:checked + .main-nav {
        display: block;
    }

    &__switcher-label {
        position: absolute;
        display: none;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        height: 4rem;
        width: 4rem;
        z-index: 2000;

        @include media(50em) {
            display: block;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 2px;
            width: 2rem;
            background-color: var(--color-yellow-2);;
        }
        .first-line { transform: translate(-50%, -5px); }
        .second-line { transform: translate(-50%, 0); }
        .third-line { transform: translate(-50%, 5px); }
    }
}

.main-nav {
    height: 100%;
    z-index: 100;

    @include media(50em) {
        display: none;
        position: absolute;
        top: calc(100% + 1px );
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9999;
    }

    &__list {
        display: block;
        list-style: none;
        font-size: 0;
        height: 100%;
    }
    
    &__list-item {
        display: inline-block;
        width: 14rem;
        height: 100%;
        padding: 1rem;

        @include media(50em) {
            display: block;
            width: 100%;
            background-color: var(--color-blue-4);
        }

        &--disabled {
            @include media(50em) {
                display: none;
            }
        }
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 600;
        text-decoration: none;
        transition: color .3s;

        &--disabled {
            opacity: .25;
            cursor: default;
        }
        
        &:link,
        &:visited { color: var(--color-white); }
        &:not(.main-nav__link--disabled):hover,
        &:not(.main-nav__link--disabled):active { color: var(--color-yellow-1); }

        &--last {           
            &:not(.main-nav__link--disabled):link,
            &:not(.main-nav__link--disabled):visited { 
                color: var(--color-blue-4);

                @include media(75em) {
                    color: var(--color-white);
                }
            }
            &:not(.main-nav__link--disabled):hover,
            &:not(.main-nav__link--disabled):active { 
                color: var(--color-yellow-2);

                @include media(75em) {
                    color: var(--color-yellow-1);
                }
            }
        }
    }
}