.projects {
    padding-top: var(--padding-vertical);
    
    &__container{
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding-top: 4rem;

        @include media(75em) {
            padding-top: 3rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @include media(50em) {
            flex-direction: column;
        }
        
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 24rem;
            width: calc(124rem + ( (100vw - 124rem) / 2));
            right: -1.5rem;
            top: 0;
            z-index: -1;
            background-color: var(--color-blue-4);
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;

            // 1200
            @include media(75em) {
                right: 0;
            }
            // 800
            @include media(50em) {
                right: -1.5rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}