.button {
    position: relative;
    top: 0;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 1.4rem 4rem;
    background-color: var(--color-yellow-1);
    border-radius: 20rem;
    border: none;
    color: var(--color-blue-4);
    box-shadow: var(--box-shadow);
    transition: all .2s;

    &:hover {
        top: -2px;
        box-shadow: var(--box-shadow-big);
    }

    &:active {
        top: 0;
        box-shadow: var(--box-shadow);
    }
}