.form {
    padding-top: calc(var(--padding-vertical) / 2);
    
    &__row {
        display: flex;

    }

    &__group {
        flex: 1;
        display: block;
        margin-bottom: 2rem;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__input {
        @include placeholder(var(--color-blue-5));

        margin-top: 1rem;
        width: 100%;
        background-color: var(--color-background-1);
        padding: .8rem 1.6rem;
        border-top: none;
        border-right: none;
        border-bottom: var(--border--small);
        border-left: none;
        border-radius: .2rem;
        resize: none;


        &:focus { 
            outline: none;
            border-color: var(--color-yellow-2);
        }
    }

    &__submit {
        margin-top: calc(var(--padding-vertical) / 2);
        cursor: pointer;

        &:focus {
            outline: none;
        }

        @include media(50em) {
            font-size: 2rem;
            @include centerBlock;
        }
    }

    &__alert {
        position: fixed;
        visibility: hidden;
        right: 0;
        bottom: 5rem;
        max-width: 40rem;
        padding: .8rem 1.6rem;
        background-color: var(--color-yellow-1);
        border-radius: var(--border-radius--small);
        border: .5rem solid var(--color-white);
        transition: right .6s;
    
        &-text {
            font-size: 1.6rem;
            font-weight: 600;
        }

        &.show {
            right: 5rem;
            visibility: visible;
            z-index: 9999;
        }
    }
}