.project-card {
    position: relative;
    top: 0%;
    flex: 0 1 37rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: var(--color-white);
    border: var(--border--small);
    border-radius: var(--border-radius--small);
    
    // 800
    @include media(50em) {
        @include centerBlock;
        margin-bottom: 2rem;
        max-width: 70rem;
    }

    &__live {
        display: inline-block;
        position: absolute;
        top: 0rem;
        transform: translateY(-100%);
        right: 1.6rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: .4rem 1.2rem;
        background-color: var(--color-white);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        opacity: 0;
        visibility: hidden;
        transition: opacity .6s ease-in;
    }

    &__image {
        border-radius: var(--border-radius--small);
        width: 100%;
        box-shadow: 0 0 4px var(--color-blue-1);
        
        img {
            width: 100%;
        }
    }
    
    &__divider {
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 8rem;
        height: 2px;
        background-color: var(--color-yellow-1);

        @include media(50em) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        } 
    }
    
    &__description {
        position: absolute;
        bottom: 0%;
        left: -1px;
        right: -1px;
        padding: 1rem;      
        background-color: var(--color-white);
        border-right: 1px solid var(--color-blue-3);
        border-bottom: 1px solid var(--color-blue-3);
        border-left: 1px solid var(--color-blue-3);
        border-bottom-left-radius: var(--border-radius--small);
        border-bottom-right-radius: var(--border-radius--small);
        transform: translateY(0%) scale(.5);
        z-index: -1;
        transition: all .6s ease-in-out;

            // 1200
        @include media(75em) {
            position: static;
            transform: none;
            padding: 1rem 0 0 0;  
            margin-top: 1rem;    
            border: none;
            border-top: 1px solid var(--color-blue-1);
            z-index: initial;
        }

        @include media(50em) {
            padding: 2rem;
            text-align: center;  
        }

        &-text {
            @include media(50em) {
                font-size: 2rem;
            } 
        }
    }

    &:hover {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: var(--color-blue-1);

        @include media(75em) {
            border-bottom-left-radius: var(--border-radius--small);
            border-bottom-right-radius: var(--border-radius--small);
            border-bottom-color: var(--color-blue-3);
        }
    }
    
    &:hover &__description {
        transform: translateY(100%) scale(1);

        @include media(75em) {
            transform: none;
        }
    }

    &:hover &__live {
        visibility: visible;
        opacity: 1;
    }
}