.workflow-card {
    flex: 0 1 33.3333%;
    position: relative;
    top: 0;
    text-align: center;
    padding: 3rem 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: var(--color-white);
    border: var(--border);
    border-radius: var(--border-radius);
    transition: top .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    // 1200
    @include media(75em) {
        padding: 3rem;
    }
    // 800
    @include media(50em) {
        display: block;
        max-width: 70rem;
        padding: 3rem 4rem;
        margin-bottom: 2rem;
        @include centerBlock;
    }
    

    &__title {
        line-height: 1;
    }
    
    &__divider {
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 8rem;
        height: 2px;
        background-color: var(--color-yellow-1);
        transition: width .3s ease-in-out;
    }

    &__image {
        display: block;
        height: 20rem;
        width: auto;
        margin-bottom: 4rem;
        @include centerBlock;

        // 1200
        @include media(75em) {
            height: 18rem;
            margin-bottom: 3rem;
        }
        // 1000
        @include media(62.5em) {
            height: 16rem;
            margin-bottom: 3rem;
        }
        // 800
        @include media(50em) {
            margin-bottom: 2rem;
        }
    }

    &__text {
        @include media(62.5em) {
            font-size: 1.7rem;
        }
        @include media(50em) {
            font-size: 2rem;
            text-align: left;
        }
    }

    &:hover {
        top: -1rem;

        @include media(50em) {
            top: 0;
        }
    }

    &:hover &__divider {
        width: 10rem;
    }
}