:root {
    --color-white: #fff;

    --color-blue-1: #D1DDFF;
    --color-blue-2: #9899EF;
    --color-blue-3: #6E6FDA;
    --color-blue-4: #4C4DC3; // after headings
    --color-blue-5: #0B2F96;

    --color-yellow-1: #FFDB5A;
    --color-yellow-2: #FFBD59; // ?

    --color-background-1: rgba(76, 77, 195, 0.05);
    
    --border-radius: 2rem;
    --border-radius--small: .5rem;

    --border: 2px solid var(--color-blue-3);
    --border--small: 1px solid var(--color-blue-3);

    --padding-vertical: 14rem;
    --padding-vertical--small: 10rem;

    --box-shadow: 0 18px 14px -8px #D1DDFF;
    --box-shadow-big: 0 18px 14px -4px #D1DDFF;
    --box-shadow-card: 0 10px 6px -4px #D1DDFF;
    --box-shadow-card-hover: 0 18px 14px -8px #D1DDFF;

}

// 112.5em -> 1800
// 102.5em -> 1640
// 96.25em -> 1540
// 77.5em  -> 1240 << container width
// 75em    -> 1200
// 56.25em -> 900
// 37.5em  -> 600