::-webkit-input-placeholder { @include placeholder; }
:-ms-input-placeholder { @include placeholder; }
::placeholder { @include placeholder; }

.heading-primary {
    font-size: 4.8rem;
    font-weight: 800;

    &--white {
        color: var(--color-white);
    }

    &--center {
        text-align: center;
    }

    &--section {
        line-height: 10rem;
    }

    &__line {
        display: inline-block;
        margin-left: .8rem;
        width: 4rem;
        height: 4px; // ? mb rems ?
        background-color: var(--color-yellow-1);
        animation: blink .53s ease-in alternate infinite;
    }
}

.heading-secondary {
    font-size: 2.4rem;
    font-weight: 400;

    @include media(50em) {
        font-size: 2.8rem;
    }
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 600;

    @include media(50em) {
        font-size: 2.8rem;
    }
}

.paragraph {
    font-size: 1.8rem;
    margin-bottom: 2rem;

    &--small { font-size: 1.6rem; }
    &--bold { font-weight: 400; }
    &--subtle-blue { color: var(--color-blue-1); }
}

.fake-tag {
    position: relative;
    display: inline-block;
    left: -3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-yellow-1);
    font-size: 1.8rem;
    font-style: italic;
    line-height: 1;
    transition: left .3s;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: -2rem;
        transform: translateX(-50%);
        width: 2rem;
        height: 2rem;
        border: var(--border--small);
        border-radius: 2px;
        transition: left .3s;
    }

    &::after {
        content: '-';
        display: block;
        position: absolute;
        top: -2px;
        left: -2rem;
        transform: translateX(-50%);
        text-align: center;
        color: var(--color-blue-3);
        transition: left .3s;
    }
    
    &:hover { left: -2rem; }
    &:hover::before,
    &:hover::after { 
        left: -3rem;
        color: var(--color-blue-2);
        border-color: var(--color-blue-2);
    }
}

.label {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-blue-4);
}

.link {
    text-decoration: none;
    transition: color .3s;

    &:link,
    &:visited {
        color: var(--color-blue-4); 
    }

    &:hover,
    &:active {
        color: var(--color-blue-5);
    }
}
